.card {
    height: 270px;
    width: 90%;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
    justify-self: center;
    backdrop-filter: blur(10px);
    background: rgba(20, 20, 20, 0.95);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 77, 109, 0.1);
}

h1 {
    margin-top: 5px;
    font-size: 2.0rem;
    font-family: Arial;
    color: #72c3fc;
    text-shadow: 0 0 10px rgba(255, 77, 109, 0.3);
}

.stock {
    color: #cccccc;
    font-size: 2.0rem;
    margin-bottom: 8px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.header {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 77, 109, 0.2);
    padding-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 77, 109, 0.2);
}

.quote {
    color: #cccccc;
    font-style: italic;
    font-size: 1.0rem;
    position: relative;
}

.quote::before,
.quote::after {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
}

.quote::before {
    left: -10px;
    top: -10px;
}

.quote::after {
    right: -10px;
    bottom: -10px;
}

.negative {
    color: #ff4d4d;
    text-shadow: 0 0 10px rgba(255, 77, 77, 0.3);
}

.positive {
    color: #4dff4d;
    text-shadow: 0 0 10px rgba(77, 255, 77, 0.3);
}